/* This file is for your main application css. */

@import "./phoenix.scss";

.game_img {
    position: absolute;
    -webkit-user-drag: none;
}

.position-state-message {
    display: inline-block;
    padding: 4px 10px;
    background-color: #ccc;
    border-radius: 4px;;
}

.position-selection-buttons {
    display: grid;
    grid-template-columns: 110px 110px;
    grid-gap: 5px;
    margin: 5px 0;
}

.menu-btn {
    border-radius: 4px;
    padding: 3px;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.20s ease-in-out;
}

.menu-btn.position-free {
    background-color: #2ECC40;
}
.menu-btn.position-free:hover {
    background-color: #23B033;
}

.menu-btn.position-taken {
    background-color: #FF4136;
}
.menu-btn.position-taken:hover {
    background-color: #D73329;
}

.game-display {
    position: relative;
    height: 512px;
}
